# Virtual Environment #
#######################
env/

# Checkpoints for TestTF #
##########################
training_checkpoints/

# URLs to Tasty Looking Recipes #
################################
RecipesToAdd.txt

# Twitter API Keys #
####################
Twitter API Keys.txt
